{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Questions</h1>

    {{question.question}}

    <form action="/answer" method="POST">
        <div>
            {% for choice in choices %}
            <input type="radio" value={{choice}} name="answer" required>
            <label for="{{choice}}">{{choice}}</label>
            {% endfor %}
        </div>
        <div>
            <button action="/answer" method="POST">Submit</button>
        </div>

    </form>
</div>


{% endblock %}